* {
  margin: 0;
  padding: 0;
}
h1 {
  background-color: #fdf8f8;
  text-align: center;
  font-weight: bold;
  padding: 15px;
}

.uppercase {
  text-transform: uppercase;
  margin-bottom: 20px;
}

.color {
  color: grey;
}

.size {
  font-size: xx-large;
  margin-bottom: 0px;
}
a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.border {
  border-radius: 0%;
  border-color: black;
}

.link {
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-size: x-large;
  padding: 15px;
  width: 100%;
  border-top: 6px solid #080808;
}

button:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}

.border {
  background: transparent;
  border: 6px solid #080808;
}

.container {
  width: 825px;
  margin: 50px auto;
}

li {
  margin-bottom: 10px;
  margin-left: 20px;
}

p {
  margin-bottom: 10px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}
